.stylistGrid__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 20px;
    padding: 25px;
    justify-content: center;
}

@media(max-width: 560px){
    .stylistGrid__container {
        grid-template-columns: 100%;
    }
}